@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/621/165/319/hexagon-minimalism-wallpaper-preview.jpg");
  font-family: 'Poppins', sans-serif;
  height: 100%;
  background-color: #fcfcfc2d;
}


.chat-area, .home {
  margin-top: 60px;
}

.chat-area {
  content: center;
  padding: 20px;
  height: 50%;
  width: 100%;
  overflow-y: scroll;

}

.chat-area .chat-bubble {
  background-color: #bbdefb;
  padding: 20px;
  border-radius: 4px;
  max-width: 300px;
  word-wrap: break-word;
}

.chat-bubble .chat-time {
  font-size: 12px;
  color: #757575;
  text-align: right;
}

.chat-area .chat-bubble.current-user {
  margin-left: auto;
  background-color: #a5d6a7;
}

.form-control {
  width: 60%;
  margin-left: 100px;
  height: 50px;
}

.form-control:focus {
  box-shadow: none;
}

.btn {
  margin-top: 10px;
}

.btn-submit {
  background-color: #2e7d32;
  color: white;
}

.image-chat{
  width: 40px;
  border-radius: 15px;
}
.boton-crear {
  margin-right: 12px;
  outline: none;
  padding: 9px;
  border: none; 
  text-decoration: none;
  background: #0d386d;
  color: white;
  border-radius: 6px;
}
.boton-login {
  margin-right: 12px;
  margin-bottom: 10pxs;
  outline: none;
  padding: 9px;
  border: none; 
  text-decoration: none;
  background: #0a7934;
  color: white;
  border-radius: 6px;
}

.boton-cerrar {
  margin-right: 12px;
  margin-bottom: 10pxs;
  outline: none;
  padding: 9px;
  border: none; 
  text-decoration: none;
  background: #bb280f;
  color: white;
  border-radius: 6px;
}

.chat{  
    margin: 20px;
   
    background: #76777c;
    border: 1px solid black;
    border-radius: 20px;
}

.home-app{
  text-align: center;
    margin: 20px;
    margin-top: 150px;
    background: #e0e2ee;
    border: 1px solid black;
    border-radius: 20px;
}
.container-input input{
  margin-bottom: 14px;
  }
  .container-input {
    padding-bottom: 20px;
  }


@media screen and (max-width: 767px) {
  .form-control {
    width: 100%;
  }

  .chat-area .chat-bubble {
    max-width: 250px;
  }
  
}